* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.register-container{
    height: 100vh;
    width: 100%;
    background: url("../img/background2.jpg") no-repeat center center;
    background-size: cover; 
    display: flex;
    justify-content:flex-start;
}

.log-in-container{
    height: 100vh;
    width: 100%;
    background: url("../img/login-background.jpg") no-repeat center center;
    background-size: cover; 
    display: flex;
    justify-content:flex-end;
}

input{
    width: 100%;
    font-size: 13px;
    padding: 7px 5px;
    border-radius: 5px;
    border: 1px solid #e9e8e9;
}

input:focus{
    outline: none;
}
button{
    min-width: 120px;
    padding : 7px;
    font-size: 13px;
    border-radius: 5px;
    color: white;
    background: #fbaa33;
    border: none;
}
button:disabled{
    background: silver;
}

button:hover{
    cursor:pointer;
    min-width: 150px;
    transition: 0.2s ease;
}
a {
    color: #000000;
    text-decoration: none;
}
button:focus{
    outline: none;
}

#form-register> .input-wrapper:hover{
    background: none;
}

.form-container{
    height: 100%;
    width: 500;
    background: rgba(255,255,255);
    padding: 70px 50px;

}

.form-container .form-header{
    text-align: center;
    font-size: 30;
    color: #788195;
    margin-bottom: 50px;
}

.form-container .name-wrapper{
    display: flex;
    justify-content: space-between;
    
}

.form-container #form-register > * {
    margin-bottom: 15px;
}

.form-container #form-log-in > * {
    margin-bottom: 15px;
}

.form-container .name-wrapper .input-wrapper{
    width: 48%;
}

#form-register .form-footer {
    display: flex;
    justify-content: space-between;
}

#form-log-in .form-footer {
    display: flex;
    justify-content: space-between;
}

.message-error{
    font-size: 13px;
    color: red;
    padding-top :5px
}

.message-success{
    font-size: 13px;
    color: green;
    padding-top: 5px;
}

.loading-container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

/* Chat screen */
.chat-container{
    display: flex;
    height: calc(100vh - 40px);
}
.chat-container .list-conversations{
    width: 18%;
    height: 100%;
    box-shadow: 4px 0 5px -5px #333;
}

.chat-container .list-conversations .header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    color:#fbaa33;
    margin: 10px;
}
.list-conversations .conversations{
    margin: 5px;
    border: none;
    border-bottom: 1px solid dimgray;
}
.chat-container .current-conversation{
    width: 85%;
    height: 100%;
    /* padding-top: 60px; */
}

/* list-conversation */
.add-conversation-container{
    padding:10px;
    box-shadow: 0 5px 5px -5px #333;

}
.add-conversation-container button{
    border: none;
}
/* chi toi cac class con */
.add-conversation-container>*{
    margin-bottom: 10px;
}
.conversations .conversation{
    box-shadow: 3px 3px #f2f2f2;
    font-size: 13px;
    padding: 15px;
}

.conversations .conversation:hover{
    cursor: pointer;
}
.conversations .conversation.active{
    box-shadow: #b2b2b2;
    background: #e4e3e3;
}

.add-conversation-container button{
    min-width: 100%;
}

/*nav bar */
.main-nav-bar{
    height: 60px;
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    background: #3A4046;
    color: #ffffff;
    font-size: 15px;
    align-items: center;
    box-shadow: 0 5px 5px -5px #333;
}

.main-nav-bar .nav-cards-container{
    margin-right: 15px;
}
.main-nav-bar .nav-cards-container>*{
    margin-right: 15px;
}
.main-nav-bar #community:hover{
    cursor: pointer;
}

.main-nav-bar #sign-out-btn{
    border: none;
}
.main-nav-bar #sign-out-btn:hover{
    min-width: 150px;
    transition: 0.3s ease;
}

/* chat message lon */
.chat-messages{
    padding: 10px;
    width: 100%;
    height: (100% - 40px);
    /* overflow-y: scroll; */
    word-break: break-word;
}
/* chat message nho */
.chat-message{
    margin-bottom: 10px;
}

.chat-message span{
    display: inline-block;
    min-width: 150px;
    max-width: 50%;
    min-height: 40px;
    padding: 10px; 
    line-height: 20px;
    font-size: 16px;
    background:#3E4042;
    color: #ffffff;
    border-radius: 5px;
}
/* dau "," nghia la hoac */
/* class viet lien nhau nghia la V(&) */
.chat-message.your{
    text-align: right;
}

.chat-message.your span{
    background: #fbaa33;
}
.chat-form{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: fit-content;
    padding: 10px;
}

.chat-form .input-wrapper {
    border-radius: 4px;
    width: 100%;
    margin: 5px;
    box-shadow: 0 0 1px #333;
}

/* footer */
.footer{
    width: 100%;
    height: auto;
    padding: 30px;
    background:#3A4046;
    color:white;

}
.footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer ul li a{
    color: white;
}

